*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}

.carte img{
    width: 40%;
    border-radius: 40%;

}
.ecran{
    width: 100%;
    height: 100vh;
    background-image: url(./source/badground.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte{
    width: 80%;
    max-width: 430px;
    color: white;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2) ;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

h2{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 20px;
}

p{
    font-size: 25px;
    margin: 10px auto;
    max-width: 300px;
}

.carte .reseau img {
      width: 80px;
      border-radius: 70%;
      margin: 10px 5px;
      transition: background 0.5s;
}

.carte .reseaux img:hover {
     background: rgb(240, 90, 195)
}

.bouton{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background: white;
    color: brown;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}

